<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crossyf.dubbo.springtest.mapper.ConfTableExecutionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.crossyf.dubbo.springtest.entity.ConfTableExecution">
        <id column="table_id" property="tableId" />
        <result column="select_sql" property="selectSql" />
        <result column="separation" property="separation" />
        <result column="writer_table_name" property="writerTableName" />
        <result column="writer_column_names" property="writerColumnNames" />
        <result column="writer_file_name" property="writerFileName" />
        <result column="reader_column_names" property="readerColumnNames" />
        <result column="processor_execution_class" property="processorExecutionClass" />
        <result column="conf_status" property="confStatus" />
        <result column="id_column_name" property="idColumnName" />
    </resultMap>

    <resultMap id="TwoResultMap" type="com.crossyf.dubbo.springtest.dto.ConfTableExecutionDto">
        <id column="table_id" property="tableId" />
        <result column="select_sql" property="selectSqlwe" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        table_id, select_sql, separation, writer_table_name, writer_column_names, writer_file_name, reader_column_names, processor_execution_class, conf_status,id_column_name
    </sql>

    <select id="qryTwo" resultType="com.crossyf.dubbo.springtest.dto.ConfTableExecutionDto">
        select table_id, select_sql from conf_table_execution
    </select>

    <select id="qryWe" resultMap="TwoResultMap">
        select table_id, select_sql from conf_table_execution
    </select>

</mapper>
